{% extends 'base.html' %}
{% from 'pagination.html' import render_pagination %}

{% block content %}
<div class="container">

    <div class="courses-list container-fluid">
        <div class="row mb-3 mt-3 gap-2 justify-content-around">
            {% for book in books %}
                <div class="col-md-4 d-flex justify-content-center" data-url="{{ url_for('books.show', book_id=book.id) }}">
                    <div class="card my-2">
                        <img class="card-img-top w-75 align-self-center mt-3" src="{{ url_for('image', image_id=book.background_image_id) }}" alt="Card image cap">
                        <div class="card-body">
                            <!-- <h4 class="card-title"></h4> -->
                            <p class="card-title fw-bold">
                               {{ book.name }} <span>★</span> <span>{{ "%.2f" | format(book.rating) }}</span>
                            </p>
                            <p class="card-text">
                                Автор: {{ book.author }}
                            </p>
                            <!-- <a href="#" class="btn btn-primary">Читать дальше &rarr;</a> -->
                        </div>
                        <div class="card-footer text-muted">
                            <p class="mb-2">
                                Издательсво: {{book.publisher}}, {{book.year}} г.
                            </p>
                            <div class="fs-4 mt-2 d-flex justify-content-evenly">
                                <a class="text-secondary text-decoration-none" href="{{ url_for('books.edit', book_id=book.id) }}">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <a class="text-secondary text-decoration-none" href="">
                                    <i class="bi bi-trash3"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="mb-5">
        {{ render_pagination(pagination, request.endpoint, search_params) }}
    </div>

    {# if current_user.is_authenticated #}
        <div class="text-center my-3">
            <a class="btn btn-lg btn-dark" href="{{ url_for('books.new') }}">Добавить книгу</a>
        </div>
    {# endif #}

</div>
{% endblock %}