{% extends 'base.html' %}

{% block content %}
    <ul class="nav nav-tabs mt-3">
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'history.activity' %}active{% endif %}" aria-current="page"
            href="{{ url_for('history.activity') }}">Журнал действий пользователей</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if request.endpoint == 'history.books_stat' %}active{% endif %}" aria-current="page"
            href="{{ url_for('history.books_stat') }}">Статистика просмотра книг</a>
        </li>
    </ul>
    {% block tab_content %}
    {% endblock %}
{% endblock %}