{% extends 'base.html' %}

{% block content %}

<form method="POST">
    <div class="mb-3 w-25">
        <label class="form-label" for="phone">Номер телефона</label>
        <input class="form-control {% if error %} is-invalid {% else %} is-valid {% endif %}" type="text" name="phone" id="phone" value="{{request.form.phone}}">
        {% if request.method == 'POST'%}
        <div class="my-3 fs-5 {% if error %} invalid-feedback {% endif %}">
            {{result}}
        </div>
        {% endif %}
    </div>
    <button class="btn btn-primary">Проверить</button>
</form>

{% endblock %}